/*********************************************************************************/
/* fond                                                                          */
/*********************************************************************************/

body
{
    background-image: url("../images/fond1.jpeg");
    color:skyblue;
}

/*********************************************************************************/
/* en tete                                                                        */
/*********************************************************************************/
header
{
	background-image: url();
	color:teal;
	text-align: center;
}

/*********************************************************************************/
/* menu                                                                      */
/*********************************************************************************/
#navigation {
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*********************************************************************************/
/* footer                                                                        */
/*********************************************************************************/
footer
{
	margin-top: 400px;
	color:teal;
	text-align: center;
}
